<!DOCTYPE html>
<html lang="es">
<head>
    <title>Top Education Preuniversitario</title>
</head>
<body>
<h1>Top Education Preuniversitario</h1>
<h2>Registro de estudiantes</h2>
<form action="/estudiantes/registro" method="post">
    <label for="rut">RUT:</label>
    <input type="text" id="rut" name="rut" required><br><br>

    <label for="nombres">Nombres:</label>
    <input type="text" id="nombres" name="nombres" required><br><br>

    <label for="apellidos">Apellidos:</label>
    <input type="text" id="apellidos" name="apellidos" required><br><br>

    <label for="fechaNacimiento">Fecha de Nacimiento:</label>
    <input type="date" id="fechaNacimiento" name="fechaNacimiento" required><br><br>

    <label for="anoEgresoColegio">Año de Egreso:</label>
    <input type="number" id="anoEgresoColegio" name="anoEgresoColegio" required><br><br>

    <label for="nombreColegio">Nombre Colegio:</label>
    <input type="text" id="nombreColegio" name="nombreColegio" required><br><br>

    <label for="tipoColegioDeProcedencia">Tipo de colegio de procedencia:</label>
    <select id="tipoColegioDeProcedencia" name="tipoColegioDeProcedencia" required><br><br>
        <option value="Municipal">Municipal</option>
        <option value="Subvencionado">Subvencionado</option>
        <option value="Privado">Privado</option>
    </select>

    <label for="NumeroCuotas">NumeroCuotas:</label>
    <select id="NumeroCuotas" name="NumeroCuotas" required><br><br>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>


    </select>

    <button type="submit">Registrar</button>
</form>
</body>
</html>