<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Menú Principal</title>
</head>
<body>
<h1>Menú Principal</h1>

<form method="get" th:action="@{/estudiantes/buscar-estudiante}">
  <button class="btn btn-primary">Reporte Estudiante</button>
</form>
<form method="get" th:action="@{/estudiantes/buscar-estudiante2}">
  <button class="btn btn-primary">Pagar cuota</button>
</form>
<form method="get" th:action="@{/estudiantes/registro}">
  <button class="btn btn-primary">Registrar Estudiante</button>
</form>
<form method="get" th:action="@{/planillapago/buscar-estudiante}">
  <button class="btn btn-primary">Buscar Planilla de Pago</button>
</form>
<h2>Importar Archivo de Notas</h2>
<form action="/notas-examen/importar" method="post" enctype="multipart/form-data">
  <input type="file" name="archivo" accept=".xlsx, .xls">
  <button type="submit">Importar</button>
</form>

</body>
</html>

