<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Detalles del Estudiante y Pago de Cuotas</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>Detalles del Estudiante</h1>
<p>Nombre del Estudiante: <span th:text="${estudiante.nombres}"></span></p>
<p>RUT del Estudiante: <span th:text="${estudiante.rut}"></span></p>

<h2>Cuotas Pendientes</h2>
<table>
  <thead>
  <tr>
    <th>Número de Cuota</th>
    <th>Monto</th>
    <th>Descripción</th>
    <th>Fecha</th>
    <th>Pagar</th>
  </tr>
  </thead>
  <tbody>
  <th:block th:each="cuota, rowStat : ${cuotas}">
    <tr>
      <td th:text="${rowStat.count}"></td>
      <td th:text="${cuota.monto}"></td>
      <td>
        <span th:text="${cuota.pagada ? 'Pagada' : 'No Pagada'}"></span>
      </td>
      <td th:text="${cuota.fechaVencimiento}"></td>
      <td>
        <form id="cuotaPagoForm" th:action="@{/cuotas/pagar}" method="post">
          <input type="hidden" name="cuotaId" th:value="${cuota.id}">
          <button type="submit" class="pagar-button">Pagar</button>
        </form>
      </td>
    </tr>
  </th:block>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function() {
    $("form#cuotaPagoForm").on('submit', function(e) {
      e.preventDefault(); // Evita el envío del formulario

      var $form = $(this);
      var cuotaId = $form.find('input[name="cuotaId"]').val();

      // Realiza una solicitud POST con AJAX para pagar la cuota
      $.post($form.attr('action'), $form.serialize(), function(data) {
        if (data === "pagada") {
          // Actualiza la descripción de la cuota y desactiva el botón de pagar
          var cuotaRow = $form.closest('tr');
          cuotaRow.find('td:eq(2)').text('Pagada');
          cuotaRow.find('.pagar-button').prop('disabled', true);
        }
      });
    });
  });
</script>
</body>
</html>